.bullets{
	color: black;
	background-color: lightgrey;
	font-size: 20px;
	font-weight: bold;
	font-family: courier;
	text-align: left;
	background-clip: content-box;
	box-sizing:border-box;
	width:300px;
}

#id_style{
	color: SlateBlue;
}

.mycircle{
	fill:green;
	r:50;
	stroke:red;
	stroke-width:3;
}

.myrect{
	fill:red;
	stroke:yellow;
	stroke-width:5;
}

.my_rect{
	fill:blue;
	stroke:lightgrey;
	stroke-width:1;
}