@charset "utf-8";
.T1 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: xx-large;
	color: #003;
	padding: 10px;
}
.T2 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 24px;
	color: #003;
	padding: 10px;
}
.B {
	background-color: #CCC;
}
.split {
	background-color: #003;
	font-size: 10px;
}
.suf {
	font-size: 16px;
	color: #030;
	left: 5%;
	position: relative;
	width: 90%;
}
.text{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	color: #003;
	font-weight: normal;
}
.top{
	font-size: 18px;
	float: right;

	}
.pp {
	text-decoration: underline;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 24px;
}
